# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
# 	Includes
#####################################################################
[include mainsail.cfg]
[include macros.cfg]
#[include adxl345.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_150030000450414235363020-if00
restart_method: command

[temperature_sensor E3_Mini]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Pad_7]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 5000
max_z_velocity: 15
max_z_accel: 100

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: !PC0
position_endstop: -10
position_max: 302
position_min: -10
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.90
#hold_current: 0.500
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: 300
position_min: 0
position_max: 300
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.90
#hold_current: 0.500
stealthchop_threshold: 0

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 320
position_min: -2

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.85
#hold_current: 0.500
stealthchop_threshold: 0

[probe]
#Klicky Probe
pin: PC2
x_offset: 0 
y_offset: 22
#z_offset: 14.5
speed: 7
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 2
samples_tolerance: 0.01
samples_tolerance_retries: 10

[bed_mesh]
mesh_min: 15,37
mesh_max: 280,280
speed: 100
horizontal_move_z: 10 

probe_count: 5,5					#if you would like more detail, use 5,5 here
#relative_reference_index: 4			 #if you use 5,5 above, place 12 here
move_check_distance: 5

algorithm: lagrange
fade_start: 1
fade_end: 10
fade_target: 0
split_delta_z: 0.0125
mesh_pps: 2,2

[screws_tilt_adjust]
screw1: 23,5
screw1_name: front left screw
screw2: 261, 5
screw2_name: front right screw
screw3: 261, 247
screw3_name: rear right screw
screw4: 23, 247
screw4_name: rear left screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

# [z_tilt]
# z_positions: -14,128
#               314,128
# points: 5, 128 # Left edge of bed, center
#         285, 128 # Right edge of bed, center
# speed: 100
# horizontal_move_z: 20
# retries: 3
# retry_tolerance: 0.2

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 4.711  #4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G # Stock
sensor_pin: PA0
min_temp: 0
max_temp: 285
#control: pid
#pid_Kp: 17.48
#pid_Ki: 1.32
#pid_Kd: 57.81

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.850
hold_current: 0.500
stealthchop_threshold: 0

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F # Stock
sensor_pin: PC4
min_temp: 0
max_temp: 130
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: PC6

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
#     EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

# [display]
# lcd_type: emulated_st7920
# spi_software_miso_pin: PD8 # status led, Virtual MISO
# spi_software_mosi_pin: PD6
# spi_software_sclk_pin: PB9
# en_pin: PB8
# encoder_pins: ^PA10, ^PA9
# click_pin: ^!PA15

# [output_pin beeper]
# pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 4.890
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.517
#*# pid_ki = 4.216
#*# pid_kd = 66.615
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.195
#*# pid_ki = 1.402
#*# pid_kd = 853.692
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.212500, 0.097500, 0.072500, 0.042500, 0.002500
#*# 	  0.155000, 0.057500, -0.017500, -0.060000, -0.112500
#*# 	  0.182500, 0.080000, 0.010000, -0.057500, -0.100000
#*# 	  0.215000, 0.125000, 0.050000, 0.017500, -0.042500
#*# 	  0.235000, 0.162500, 0.120000, 0.095000, 0.065000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 280.0
#*# min_y = 37.0
#*# max_y = 280.0
#*#
#*# [bed_mesh 80]
#*# version = 1
#*# points =
#*# 	0.123750, 0.038750, -0.002500, 0.030000, 0.127500
#*# 	0.120000, 0.025000, -0.023750, -0.011250, 0.073750
#*# 	0.121250, 0.046250, 0.006250, 0.013750, 0.080000
#*# 	0.143750, 0.067500, 0.040000, 0.045000, 0.117500
#*# 	0.125000, 0.068750, 0.056250, 0.081250, 0.162500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 280.0
#*# min_y = 37.0
#*# max_y = 280.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 87.4
#*# shaper_type_y = zv
#*# shaper_freq_y = 111.4
#*#
#*# [bed_mesh 60]
#*# version = 1
#*# points =
#*# 	  0.212500, 0.097500, 0.072500, 0.042500, 0.002500
#*# 	  0.155000, 0.057500, -0.017500, -0.060000, -0.112500
#*# 	  0.182500, 0.080000, 0.010000, -0.057500, -0.100000
#*# 	  0.215000, 0.125000, 0.050000, 0.017500, -0.042500
#*# 	  0.235000, 0.162500, 0.120000, 0.095000, 0.065000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 280.0
#*# min_y = 37.0
#*# max_y = 280.0
